In [19]:
import pandas as pd 
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [20]:
transactions = pd.read_csv("/Users/jeronimoperezrocha/Library/Containers/com.microsoft.Excel/Data/Downloads/ecommerce_transactions.csv")

In [21]:
transactions

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
0,100001,25795,Product 1,3,2/21/21 0:00,12.355753,1136
1,100002,10860,Product 2,5,1/27/21 0:00,39.831625,1174
2,100003,86820,Product 3,5,6/6/21 0:00,2.216178,1288
3,100004,64886,Product 4,5,8/27/21 0:00,29.348938,1445
4,100005,16265,Product 5,3,6/5/21 0:00,49.774157,1480
...,...,...,...,...,...,...,...
995,100996,97388,Product 996,6,4/30/21 0:00,19.856127,1350
996,100997,18007,Product 997,3,5/7/21 0:00,12.093067,1433
997,100998,51832,Product 998,2,9/12/21 0:00,11.367919,1339
998,100999,68596,Product 999,4,7/2/21 0:00,48.013209,1139
999,101000,40523,Product 1000,5,1/16/21 0:00,31.006874,1470

In [22]:
transactions.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
dtype: int64

In [23]:
#Del Description 
del transactions['Description']

In [24]:
del transactions['InvoiceDate']

Principal Component Analysis

In [25]:
#Standarize transactions/RFM Features
scaler = StandardScaler()
transactions_scaled = scaler.fit_transform(transactions)