In [21]:
import pandas as pd 
from math import sqrt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [22]:
mall = pd.read_csv('/Users/jeronimoperezrocha/Library/Containers/com.microsoft.Excel/Data/Downloads/Mall_Customers.csv')

In [23]:
mall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [24]:
mall.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [25]:
mall.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [26]:
#Converte gender to binary
gender = {'Male':0, 'Female':1}
mall['Genre'] = mall['Genre'].replace(gender)
print(mall.head())

   CustomerID  Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1      0   19                  15                      39
1           2      0   21                  15                      81
2           3      1   20                  16                       6
3           4      1   23                  16                      77
4           5      1   31                  17                      40

In [27]:
#Define X and y
y = mall['Spending Score (1-100)']
X = mall[['Age', 'Annual Income (k$)', 'Genre']]
X.head()

   Age  Annual Income (k$)  Genre
0   19                  15      0
1   21                  15      0
2   20                  16      1
3   23                  16      1
4   31                  17      1

In [33]:
#train test split and give info about the shape of the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 114 to 102
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 150 non-null    int64
 1   Annual Income (k$)  150 non-null    int64
 2   Genre               150 non-null    int64
dtypes: int64(3)
memory usage: 4.7 KB
None
(50, 3)
(150,)
(50,)

In [29]:
for model in [LinearRegression(), KNeighborsRegressor(n_neighbors=3)]:
    model.fit(X_train, y_train)
    y_preds = model.predict(X_test)
    mse = mean_squared_error(y_test, y_preds)
    rmse = sqrt(mse)
    print(model)
    print(rmse)
    print()

LinearRegression()
22.455007929488026

KNeighborsRegressor(n_neighbors=3)
18.83035374660344